<header>
  <a href="http://scholar.google.com/intl/en/scholar/images/1x/googlelogo_color_270x104dp.png"><img src="http://scholar.google.com/intl/en/scholar/images/1x/googlelogo_color_270x104dp.png" id="google" /></a>
  <input type="text" name="Homo hipsterus"><br>
  <p>kendrick.lamar@gmail.com</p>
  <i class="fa fa-th fa-2" aria-hidden="true" id="option"></i>
  <i class="fa fa-google-plus-square" aria-hidden="true" id="plus"></i>
</header>
<div id="split">
  <div>
    <div>
      <div id="color-container">
        <div class="colors" id="blue"></div>
        <div class="colors" id="red"></div>
        <div class="colors" id="yellow"></div>
        <div class="colors" id="green"></div>
      </div>
    </div>
    <div id="flexible">
      <div id="aside">
        <aside>
          <div>
            <h6 class="grey">TYPES</h6>
            <h5 class="white">Custom</h5>
            <h5 class="grey"><a href="2">Web</a></h5>
            <h5 class="grey">Images</h5>
            <h5 class="grey">Maps</h5>
            <h5 class="grey">Videos</h5>
            <h5 class "grey">More</h5>
          </div>
          <div>
            <h6 class="grey">FILTER</h6>
            <h5 class="white">Nearby</h5>
            <h5 class="white">Last month</h5>
            <h5 class="grey">All results</h5>
            <h5 class="grey">All languages</h5>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
