<header>
  <a href="http://scholar.google.com/intl/en/scholar/images/1x/googlelogo_color_270x104dp.png"><img src="http://scholar.google.com/intl/en/scholar/images/1x/googlelogo_color_270x104dp.png" id="google" /></a>
  <input type="text" name="Homo hipsterus"><br>
  <p>kendrick.lamar@gmail.com</p>
  <i class="fa fa-th fa-2" aria-hidden="true" id="option"></i>
  <i class="fa fa-google-plus-square" aria-hidden="true" id="plus"></i>
</header>
<div id="split">
  <div>
    <div>
      <div id="color-container">
        <div class="colors" id="blue"></div>
        <div class="colors" id="red"></div>
        <div class="colors" id="yellow"></div>
        <div class="colors" id="green"></div>
      </div>
    </div>
    <div id="flexible">
      <div id="aside">
        <aside>
          <div>
            <h6 class="grey">TYPES</h6>
            <h5 class="white">Custom</h5>
            <h5 class="grey"><a href="2">Web</a></h5>
            <h5 class="grey"><a href="3">Images</a></h5>
            <h5 class="grey"><a href="4">Maps</a></h5>
            <h5 class="grey">Videos</h5>
            <h5 class "grey">More</h5>
          </div>
          <div>
            <h6 class="grey">FILTER</h6>
            <h5 class="white">Nearby</h5>
            <h5 class="white">Last month</h5>
            <h5 class="grey">All results</h5>
            <h5 class="grey">All languages</h5>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <div id="images">
    <h1>Images</h1>
    <div id= "main-image">
      <div id="four-container">
        <div class = "small-image">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRLccRUQcOSekmlncaIs7A1DLV4FOkMzx3kvvSGaxzHWb2ZoOzo4Q">
        </div>
        <div class = "small-image">
          <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQHz3nN0y-qQWIsAgJ3RzMdmZIOSn9d-ir1Dpwrouqcop6ei5HB">
        </div>
        <div class = "small-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSNGAbVL8GBbd6NZL2QZYjq1BYlSR1BeOmedPAT_YPk7UcgKS8Pg">
        </div>
        <div class = "small-image">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQEHDtnRp29nhaUpIYaLZILgtLEKmUxer3OUXGrLgprcqIrYdW1">
        </div>
      </div>
    </div>
  </div>
</div>
